body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

.fondo {
    width: 100%;
    height: 100vh;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}
form .usuario{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}
.usuario input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background: none;
    outline: none;
}

.usuario label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

}

.usuario span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6c3483;
}

.usuario input:focus ~ label,
.usuario input:focus ~ label{
    top: -5px;
    color: #6c3483;

}

.usuario input:focus ~ span::before,
.usuario input:focus ~ span::before{
    width: 100%;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 2px solid;
    background: #f5a134;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: rgb(207, 102, 4);
    transition: .5s;
}
